<div id="link1">
  <mdb-card-body>
    <div class="img-container">
      <img src="../../../assets/img/virus-small.png" alt="profile">
    </div>
    
<div style="padding: 13px;">
  <mat-card-header>
      <mat-card-title>Treatment</mat-card-title>

  </mat-card-header>
  <mat-spinner *ngIf="Treatment.length === 0"></mat-spinner>
  <mat-card *ngFor="let treatment of Treatment" style="margin-top:10px;">


      <!-- <mat-card-header>
          <mat-card-title>What is Corona Virus</mat-card-title>
        
      </mat-card-header> -->
      <mat-card-content>
          <p style="font-size:20px">
              {{treatment}}
          </p>

      </mat-card-content>

  </mat-card>
</div>