
<!--Section: Features v.1-->
<section class="text-center">

    <!-- Section heading -->
    <h2 class="h1-responsive text-center my-5">Testing Information <strong style='color: red'>NB!!</strong> </h2>
    <hr />
    <!--Section description-->
    <p class="px-5 mb-5 pb-3">
        Notable information about COVID19! testing:
    </p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4">
            <mdb-icon fas icon="user-md" size="3x" class="red-text"></mdb-icon>
            <h5 class="font-weight-bold mt-3"></h5>
            <p>{{testingInfo[0]}}</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
            <mdb-icon fas icon="phone-alt" size="3x" class="cyan-text"></mdb-icon>
            <h5 class="font-weight-bold mt-3"></h5>
            <p>{{testingInfo[1]}}</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
            <mdb-icon fas icon="medkit" size="3x" class="orange-text"></mdb-icon>
            <h5 class="font-weight-bold mt-3"></h5>
            <p>{{testingInfo[2]}}</p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.1-->