

    <!-- Section heading -->
    <div style="font-size: medium; margin-bottom: 20px;">Testing Information</div>
    <!--Section description-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4" style="font-size: small;">
            <div style="float: left; margin: 10px;">
                <mdb-icon fas icon="user-md" size="3x" class="red-text"></mdb-icon>
            </div>
           {{testingInfo[0]}}
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4" style="font-size: small;">
            <div style="float: left; margin: 10px;">
                <mdb-icon fas icon="phone-alt" size="3x" class="cyan-text"></mdb-icon>
            </div>
            {{testingInfo[1]}}
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4" style="font-size: small;">
            <div style="float: left; margin: 10px;">
                <mdb-icon fas icon="medkit" size="3x" class="orange-text"></mdb-icon>
            </div>
            {{testingInfo[2]}}
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
