#link1 {
    padding: 0 6rem;
    /* height: 100vh;
    width: 100%;
    */
    /* padding-top: 2rem; */
  }
  
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 500px) {
    #link1 {
      padding: 0 1rem;
    }
  }
  