<div id="link1">
    <mdb-card-body>
      <div class="img-container">
        <img src="../../../assets/img/person-small.png" alt="profile">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title class="text-center">Namibia COVID-19 Tech Response Virtual Hackathon</mat-card-title>
        </mat-card-header>
        <mat-card>
          <mat-card-content>
            <p style="font-size:20px">
            Virtual Hackathon for Namibia’s COVID-19 Tech Response has more than 80 local
             & international people across projects.

             To join the Hackathon please send us an email consisting of your
              full name, contact details and your area of expertise to the following email address : <span class="text-danger">NamibiaCovid19tech@nust.na</span>
              
             
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  