<section class="stats-section">
    <app-corona-whatis></app-corona-whatis>
</section>
<section class="stats-section">
    <app-transmission></app-transmission>
</section>
<section class="stats-section">
    <app-symptoms></app-symptoms>
</section>
<section class="stats-section">
    <app-treatment></app-treatment>
</section>
<section class="stats-section">
    <app-measures></app-measures>
</section>
<section class="stats-section">
    <app-facts></app-facts>
</section>
<section class="stats-section">
    <app-tips></app-tips>
</section>