<div style="display: flex;">
  <div style="flex-grow: 1;">
    <div style="font-size: medium;">Preventative Measures</div>
    <!--Section description-->
    <p style="font-size: smaller; padding-right: 20px;">Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice
      provided by your local public health agency.</p>
  </div>
  <div style="width: 125px; height: 120px; margin: 10px;">
    <img src="../../../assets/img/person-small.png" alt="preventative-measures-img" width="100%" height="100%">
  </div>
</div>
<!--Grid row-->
<div class="row" style="padding: 20px">
  <!--Grid column-->
  <div class="col-md-4">

    <!--Grid row-->
    <div *ngFor="let measure of measuresA" class="row mb-2">
      <div class="col-10 text-left measure-wrapper">
        <!-- <h5 class="font-weight-bold">International</h5> -->
        <p style="font-size: small;">{{measure}}</p>
      </div>
    </div>
    <!--Grid row-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4">
    <!--Grid row-->
    <div *ngFor="let measure of measuresB" class="row mb-2">
      <div class="col-10 text-left measure-wrapper">
        <!-- <h5 class="font-weight-bold">International</h5> -->
        <p style="font-size: small;">{{measure}}</p>
      </div>
    </div>
    <!--Grid row-->

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->