<section>
  <!--Section heading-->
  <h2 class="h1-responsive text-center my-5">Preventative Measures</h2>
  <hr />
  <!--Section description-->
  <p class="px-5 mb-5 pb-3  text-center">Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local public health agency.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div *ngFor="let measure of measuresA" class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="angle-right" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <!-- <h5 class="font-weight-bold">International</h5> -->
          <p>{{measure}}</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img src="../../../assets/img/person-small.png" alt="preventative-measures-img" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <!--Grid row-->
      <div *ngFor="let measure of measuresB" class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="angle-right" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <!-- <h5 class="font-weight-bold">International</h5> -->
          <p>{{measure}}</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>