<div id="link1">
    <mdb-card-body>
      <div class="img-container" >
        <img src="../../../assets/img/virus-small.png" alt="profile" >
      </div>
      <!-- <h2 class="text-center">General<span> Information about Coronavirus</span></h2> -->
      <h5 style="text-align: center; font-weight: bold; font-size: 50px;">General<span> Information about Coronavirus</span></h5>
<div style="padding: 13px;">

    <mat-card-header>
        <mat-card-title>What is Corona Virus</mat-card-title>


    </mat-card-header>
    <mat-spinner *ngIf="coronaInfo.length === 0"></mat-spinner>
    <mat-card *ngFor="let info of coronaInfo" style="margin-top:10px;">


        <!-- <mat-card-header>
            <mat-card-title>What is Corona Virus</mat-card-title>
          
        </mat-card-header> -->
        <mat-card-content>
            <p style="font-size:20px">
                {{info}}
            </p>

        </mat-card-content>

    </mat-card>
</div>