<!-- <div id="link1">
  <mdb-card-body>
    <div class="img-container">
      <img src="../../../assets/img/symtom-small.png" alt="profile">
    </div>

    <div style="padding: 13px;">
      <mat-card-header>
        <mat-card-title style="text-align: center;"> Symptoms</mat-card-title>
      </mat-card-header>
      <mat-card *ngFor="let symptoms of Symptoms" style="margin-top:10px;">
        <mat-card-content>
          <p style="font-size:20px">
            {{symptoms}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mdb-card-body>
</div> -->


<!--Section: Features v.3-->
<section>

  <!-- Section heading -->
  <h2 class="h1-responsive text-center my-5">Symptoms</h2>
  <hr />
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 text-center">COVID-19 affects different people in different ways. Most infected people will develop mild to moderate symptoms.</p>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 text-center text-lg-left">
      <img src="../../../assets/img/symtom-small.png" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <!-- <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5> -->
          <p class="text-left">{{Symptoms[0]}}</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <p class="text-left">{{Symptoms[1]}}</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fas icon="reply" size="lg" class="indigo-text"></mdb-icon>
        </div>
        <div class="col-10">
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" class="indigo-text text-left">{{Symptoms[2]}}</a>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->