<div style="display: flex;">
  <div style="flex-grow: 1;">
    <!-- Section heading -->
  <div style="font-size: medium;">Symptoms</div>
  <!--Section description-->
  <p style="font-size: smaller; padding-right: 20px;">COVID-19 affects different people in different ways. Most infected people will develop mild to moderate symptoms.</p>

  </div>
  <div style="width: 125px; height: 120px;">
    <img src="../../../assets/img/symtom-small.png" alt="" class="img-fluid z-depth-0">
  </div>
</div>
 
  <!--Grid row-->
  <div class="row" style="padding: 20px">

      <!--Grid row-->
        <div class="col-md-5" style="font-size: small;">
          <p class="text-left symptom-wrapper">{{Symptoms[0]}}</p>
        </div>
 

        <div class="col-md-5" style="font-size: small;">
          <p class="text-left symptom-wrapper">{{Symptoms[1]}}</p>
        </div>


        <div class="col-md-5" style="font-size: x-small;">
          <div class="symptom-wrapper">
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" target="_blank" class="indigo-text text-left">{{Symptoms[2]}}</a>
          </div>
        </div>
      <!--Grid row-->


  </div>
  <!--Grid row-->

