<div id="link1">
  <mdb-card-body>
    <div class="img-container">
      <img src="../../../assets/img/virus-small.png" alt="profile">
    </div>

    <div style="padding: 13px;">
      <mat-card-header>
        <mat-card-title>Myths and Facts</mat-card-title>

      </mat-card-header>

      <mat-card *ngFor="let facts of Facts" style="margin-top:10px;">

        <mat-card-content>
          <p style="font-size:20px">
            {{facts}}
          </p>

        </mat-card-content>

      </mat-card>
    </div>
  </mdb-card-body>
</div>
