.circular-wrapper {
    max-width: 50%;
}

.services-body {
    font-family: 'Roboto', sans-serif;
    padding: 0 15px;
}


.circular-wrapper{
    padding: 5px;
}

.circular-inner{
    background-color: gainsboro;
    height: 100%;
    border-radius: 2px;
    padding: 10px 5px;
    cursor: pointer;
    outline: none;
    transition: all .8s ease-out;

}

.circular * {
    margin-bottom: 15px;
}

.circular p {
    margin-bottom: 0;
}

.circular .icon {
    font-size: 30px;
    color: #DC3545;
    transition: all .8s ease-out;
}

.circular-inner:hover {
    background-color: rgb(197, 195, 195);
}

.circular:hover .icon {
    transform: scale(1.3);
}

/* SERVICES MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .services-head h2 {
        font-size: 40px;
    }

    .circular h3 {
        font-size: 24px;
    }

    .circular-wrapper {
        max-width: 200px;
    }
}

#loader-wrapper{
    position: relative;
    top: 30vh;
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #1c2331;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }