<div id="link1">
  <mdb-card-body>
    <div class="img-container">
      <img src="../../../assets/img/person-small.png" alt="profile">
    </div>
    <div>
      <mat-card-header>
        <mat-card-title class="text-center">Preventative Measures</mat-card-title>
      </mat-card-header>
      <mat-card *ngFor="let measures of Measures" style="margin-top:10px;">
        <mat-card-content>
          <p style="font-size:20px">
            {{measures}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
