.stats-section {
  position: relative;
  height: fit-content;
  padding: 0 8rem 3rem 8rem;
}


.prgress {
  position: relative;
  width: 100%;
  padding: 3.5rem 0 0 0;
}


@media only screen and (max-width: 770px) {

  .stats-section {
    padding: 5rem 0;
  }
}




@media only screen and (max-width: 500px) {
  h5 {
    font-size: 15px;
  }
}
