.testing-centres-section {
    height: 100vh;
    width: 100%;
    position: relative;
    /* height: fit-content; */
    /* background: rgb(250, 250, 250); */
  }

  
  mat-card {
    padding: 1rem;
    margin: 0rem 3rem 0 3rem;
  }
  
  agm-map {
    height: 400px;
  }
  
  h5 {
    margin-top: 1rem;
  }

.prgress {
  position: relative;
  width: 100%;
  padding: 3.5rem 0 0 0;
}

  
  #link1 {
    padding: 0 6rem;
  
    /* padding-top: 2rem; */
  }



  
@media only screen and (max-width: 500px) {
  #link1 {
    padding: 0 1rem;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
}


  
  
  @media only screen and (max-width: 1025px) {
  
  
  
 
  
  }
  
  @media only screen and (max-width: 500px) {
  
    .testing-centres-section {
      padding: 1rem 0;
    }
  
    mat-card {
      padding: 1rem;
      margin: 0.3rem;
    }
  
  }
  