.toastr{
  position: absolute;
  right: 75px;
  top: 80px;
  /* button: {
      color: #fff;
  } */
}

.navb {
  font-family: karmina;
  font-size: 20px;
  font-weight: bold;
}

.navfloat {
float: inline-end;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 1.2s;
}
.navbar .navbar-brand {
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    position: relative;
    left: 20px;
}

.navbar .nav-item .nav-link {
    color: rgba(255, 255, 255,0.7);
    font-weight: 100;
}
.navbar .nav-item.active .nav-link{
    color: #fff;
    font-weight: bold;
}

.navbar .nav-item.activeClick .nav-link {
    color: #DC3545;
}

@media screen and (min-width: 768px) {
    nav {
        background-color: transparent;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
