.toastr{
  position: absolute;
  right: 75px;
  top: 80px;
  /* button: {
      color: #fff;
  } */
}

.navb {
  font-family: karmina;
  font-size: 16px;

}

.navfloat {
float: inline-end;
}


img {
  margin-top: 0.5rem;
  width: 90px !important;
  height: 50px !important;
}


nav {
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 1.2s;
}
.navbar .navbar-brand {
    text-decoration: none;
    font-weight: bold;
    font-size: 46px;
    position: relative;
    left: 20px;
}

.navbar .nav-item .nav-link {
    color: rgba(255, 255, 255,0.7);
    /* font-weight: 100; */
}
.navbar .nav-item.active .nav-link{
    color: #fff;
    font-weight: bold;
}

.navbar .nav-item.activeClick .nav-link {
    color: #DC3545;
}



.home {
  /* background-image: url(../../../assets/img/image.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* .home #word {
  color: #DC3545;
} */
.trans-background {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}


.welcome-message {
  text-align: center;
  padding: 50px 0;
  color: #fff;
  position: relative;
  top: 25%;
  font-family: 'Source Sans Pro', sans-serif;
}

.welcome-message span {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.welcome-message h1 {
  font-size: 38px;
  color: #DC3545;
  font-weight: bold;
}

.welcome-message p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

/* HOME MEDIA QUERIES */

@media screen and (min-width:768px) {

  .welcome-message span {
      font-size: 24px;
  }

  .welcome-message h1 {
      font-size: 70px;
  }

  .welcome-message p {
      font-size: 26px;
  }
}

.general {
  padding: 70px 15px;
}

.general-img-container {
  position: relative;
  margin-bottom: 10px;
}


.general-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.general-img-cover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  text-align: center;
  overflow: hidden;
  transition: all .5s;
}

.general-img-container:hover .general-img-cover {
  height: 100%;
}

.general-img-cover a {
  position: relative;
  top: 48%;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all .4s;
}

.general-img-cover a:hover {
  color: #DC3545;
}

.general-body h2 {
  font-size: 34px;
  font-weight: 600;
}

.general-body h2 span {
  margin-right: 8px;
  color: #DC3545;
}

.general-body p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(85, 85, 85);
  line-height: 25px;
}

.general-body div.hr {
  border-top: 1px dotted rgb(85, 85, 85);
  margin: 10px auto 0;
}



/* general MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .general {
      overflow: auto;
  }

  .general-left {
      margin-top: 32px;
      width: 40%;
      float: left;
      padding: 0 15px;
  }

  .general-right {
      width: 60%;
      float: right;
      padding: 0 15px;
  }

  .general-body div.hr {
      margin-bottom: 0;
  }

  .general-footer button {
      padding: 12px 22px;
  }

}

@media screen and (min-width: 992px) {


  .general-left {
      width: 35%;
      text-align: right;
      margin-left: 30px;
  }

  .general-right {
      width: 57%;
  }

  .general-img-container {
      position: relative;
      top: 20px;
      left: 5%;
  }

  .general-img-shadow {
      z-index: -1;
      border: 8px solid #555555;
      border-radius: 5px;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 6%;
      right: 8%;
  }

}

@media screen and (min-width: 1200px) {
  .general-body h2 {
      margin-bottom: 20px;
  }

  .general-body div.hr {
      margin: 20px auto;
  }

}
.general {
    padding: 70px 15px;
}

.general-img-container {
    position: relative;
    margin-bottom: 10px;
}


.general-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.general-img-cover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    text-align: center;
    overflow: hidden;
    transition: all .5s;
}

.general-img-container:hover .general-img-cover {
    height: 100%;
}

.general-img-cover a {
    position: relative;
    top: 48%;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all .4s;
}

.general-img-cover a:hover {
    color: #DC3545;
}

.general-body h2 {
    font-size: 34px;
    font-weight: 600;
}

.general-body h2 span {
    margin-right: 8px;
    color: #DC3545;
}

.general-body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(85, 85, 85);
    line-height: 25px;
}

.general-body div.hr {
    border-top: 1px dotted rgb(85, 85, 85);
    margin: 10px auto 0;
}



/* general MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .general {
        overflow: auto;
    }

    .general-left {
        margin-top: 32px;
        width: 40%;
        float: left;
        padding: 0 15px;
    }

    .general-right {
        width: 60%;
        float: right;
        padding: 0 15px;
    }

    .general-body div.hr {
        margin-bottom: 0;
    }

    .general-footer button {
        padding: 12px 22px;
    }

}

@media screen and (min-width: 992px) {


    .general-left {
        width: 35%;
        text-align: right;
        margin-left: 30px;
    }

    .general-right {
        width: 57%;
    }

    .general-img-container {
        position: relative;
        top: 20px;
        left: 5%;
    }

    .general-img-shadow {
        z-index: -1;
        border: 8px solid #555555;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 6%;
        right: 8%;
    }

}

/* home section */
.welcome-message {
  padding-top: 5rem;
}

/* nav bar styling */
.navbar  {
  margin-bottom: 5rem !important;
}

.navbar-nav {
  padding: 0 0 0 33rem;
}


.navbar-nav  li a {
  font-size: medium;
  text-transform: capitalize;
}

#link1 {
  min-height: 100vh;
  /* padding-top: 2rem; */
}

#link2 {
  min-height: 100vh;
  /* padding-top: 2rem; */
}

#link3 {
  min-height: 100vh;
  /* padding-top: 2rem; */
}


#link4 {
  min-height: 100vh;
  /* padding-top: 2rem; */
}

#link5 {
  min-height: 100vh;
  /* padding-top: 2rem; */
}

@media screen and (min-width: 1200px) {
    .general-body h2 {
        margin-bottom: 20px;
    }

    .general-body div.hr {
        margin: 20px auto;
    }

}



@media screen and (min-width: 768px) {
    nav {
        background-color: transparent;
    }
}


.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  @media only screen and (max-width: 1025px) {
    .navbar-nav {
      padding: 0;
    }
  }
