<nav class="navbar fixed-top navbar-expand-lg navbar-light nv scrolling-navbar">
  <!-- <div class="container"> -->

    <!-- <a class="navbar-brand waves-effect" [routerLink]="['/']">
      <img src="" height="30" alt="">
    </a> -->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#"><strong></strong>
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
      

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <ng-container >
          <li class="nav-item navb" mdbDropdown>
                <a class="nav-link waves-effect" [routerLink]="['']">
             
              <strong class="grey-text">About Us</strong>

            </a>
          </li>
          <li class="nav-item navb" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="grey-text">General Info</strong>
            </a>
          </li>

          <li class="nav-item navb" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              
            </a>
         
      
          <li class="nav-item navb" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="grey-text"> COVID 19 cases in Namibia</strong>
            </a>
          </li>
          <li class="nav-item navb" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="grey-text">Testing Centers</strong>
            </a>
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item navb" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="grey-text">Official Circulars & Memos</strong>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect">

            </a>
          </li>



        </ng-container>



      </ul>
    </div>

  <!-- </div> -->
</nav>
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

