<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- <a class="navbar-brand waves-effect" [routerLink]="['/']">
      <img src="" height="30" alt="">
    </a> -->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#"><strong></strong>
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
      

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <ng-container >
            <li class="nav-item" mdbDropdown>
                <a class="nav-link waves-effect" [routerLink]="['']">
                  <strong class="black-text">About Us</strong>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect">
    
                </a>
              </li>
          <li class="nav-item" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="black-text">
                  General Info</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect">

            </a>
          </li>
          <li class="nav-item" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="black-text">CONVID 19 cases in Namibia</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect">

            </a>
          </li>
       
          <li class="nav-item" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="black-text">Testing Centres</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect">

            </a>
          </li>

          <li class="nav-item" mdbDropdown>
            <a class="nav-link waves-effect" [routerLink]="['']">
              <strong class="black-text">Official Circulars & Memos</strong>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect">

            </a>
          </li>



        </ng-container>



      </ul>
    </div>

  </div>
</nav>
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>

