
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark fixed-top">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" style="color: azure;" [routerLink]="['/home']">COVID 19 Namibia</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto">

      <!-- Dropdown -->
      <li class="nav-item btn-group" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          General Info<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-corona-latest-info']">Last Date Updated</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-corona-whatis']">What is Corona Virus?</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-transmission']">Transmission mode</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-symptoms']">Common symptoms</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-treatment']">Vaccine and treatment</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-measures']">Preventative measures</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Myths and Facts</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-tips']">Advice and Tips </a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/app-statistics'"> Statistics</a>
      </li>

      <!-- <li class="nav-item btn-group" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Statistics<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/app-statistics-latest']">Latest Statistics</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Recovered</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Death cases</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Suspected cases</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Confirmed cases</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">World wide</a>
        </div>
      </li> -->
      <li class="nav-item btn-group">
        <a dropdownToggle mdbWavesEffect class="nav-link" [routerLink]="['/faq']" mdbWavesEffect>
          Faq</a>
      </li>
      <!-- <li class="nav-item btn-group">
        <a dropdownToggle mdbWavesEffect class="nav-link" [routerLink]="['/contact']" mdbWavesEffect>
          Contact</a>
      </li> -->
      <li class="nav-item btn-group" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          More<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Latest Discoveries</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Research/Publications</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Memos and Circulars</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Health Facilities</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/app-about-us']"> About Us</a>
      </li>
    </ul>


    <!-- Links -->



  </links>


</mdb-navbar>
<!--/.Navbar-->
