<section>

  <!-- Section heading -->
  <div style="font-size: medium;">News</div>
  <!-- Grid row -->
  <div style="display: flex;">
    <!-- Featured news -->
    <div *ngFor="let news of News" style="width: 33.3%; padding: 10px">

      <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; height: 200px; display: flex; flex-flow: column;">
        <!-- Data -->
        <div >
          <span><mdb-icon far icon="clock" class="pr-2"></mdb-icon></span>
          <span style="font-size: small;" >
            {{news.date}}
          </span>
        </div>
        <div style="overflow: hidden; flex-grow: 1; font-size: smaller;">
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4" style="height: 100%;">{{news.news}}</p>
        </div>
        <div>
          <span style="float: right; clear: both; font-size: x-small;">read more</span>
        </div>
      </div>
    </div>
    <!-- Featured news -->

  </div>
  <!-- Grid row -->

</section>