<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<section class="home-section">
  <div>
    <section id="home" class="home">
      <div class="trans-background">
        <div class="welcome-message">
          <span>Get your facts right about</span>
          <h1>Corona Virus : Covid-19</h1>
          <p>Brought to you by MoHSS</p>
        </div>
      </div>
      <div class="row" id="arrow-style" (click)="scroll(general)">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </section>
  </div>

  <!--/.Navbar-->

  <div #general class="scrollspy-example mt-4 px-5">
    <div id="link_1">
      <mdb-card>
        <div id="general" class="general container">
          <div id="link1">
            <mdb-card-body>
              <div class="img-container">
                <img src="../../../assets/img/virus-small.png" alt="profile">
              </div>
              <mdb-card-text>
                <h2 class="text-center">General<span> Info</span></h2>
                <h3>What is Corona Virus?</h3>
                <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common
                  cold
                  to
                  more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute
                  Respiratory
                  Syndrome (SARS-CoV).
                  Coronavirus disease (COVID-19) is a new strain that was discovered in 2019 and has not been
                  previously identified in humans.

                  Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed
                  investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from
                  dromedary camels to humans. Several known coronaviruses are circulating in animals that have not
                  yet
                  infected humans.
                  <div class="about-footer">
                    <a class="btn btn-danger" block="true" style="outline-color: white; float: right !important;"
                      [routerLink]="['/app-corona-whatis']" target="blank">Read more
                    </a>
                  </div>
                  <div class="hr"></div>
              </mdb-card-text>
            </mdb-card-body>
          </div>
        </div>

      </mdb-card>
    </div>
    <div id="link_2">
      <mdb-card>
        <div id="general" class="general container">
          <div id="link2">
            <mdb-card-body>
              <div class="img-container">
                <img src="../../../assets/img/person-small.png" alt="profile">
              </div>
              <mdb-card-text>
                <h2 class="text-center">Preventative <span>Measures</span></h2>
                <h3 style="float:left !important;">Take steps to protect yourself</h3>
                <h4 style="float:left !important;">Clean your hands often</h4>
                <p style="float:left !important; text-align: left !important;"><strong>Wash your hands</strong>
                  often with soap and water for at least 20 seconds especially after you have been in a public
                  place, or after blowing your nose, coughing, or sneezing.<br>
                  <br> If soap and water are not readily available, <strong>use a hand sanitizer that contains at
                    least 60% alcohol</strong>. Cover all surfaces of your hands and rub them together until they
                  feel dry.<br>
                  <br>
                  <strong>Avoid touching your eyes, nose, and mouth</strong> with unwashed hands. <br>
                  <br>
                </p>
                <!-- <h4 style="float:left !important;">Avoid close contact</h4>
                <p style="float:left !important; text-align: left !important;">
                  <strong>Avoid close contact</strong> with people who are sick<br>
                  Put <strong>distance between yourself and other people</strong> if COVID-19 is spreading in your
                  community. This is especially important for people who are at higher risk of getting very sick.
                </p> -->
                <div class="about-footer">
                  <a class="btn btn-danger" block="true" style="outline-color: white; float: right !important;"
                    [routerLink]="['/app-measures']" target="blank">Read more
                  </a>
                </div>
                <div class="hr"></div>
              </mdb-card-text>

              <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </div>
        </div>

      </mdb-card>
    </div>
    <div id="link_3">
      <mdb-card>
        <div id="general" class="general container">
          <div id="link3">
            <mdb-card-body>
              <div class="img-container">
                <img src="../../../assets/img/symtom-small.png" alt="profile">
              </div>
              <mdb-card-text>
                <h2 class="text-center">Symptoms</h2>
                <h4>If you are infected you may experience the following symptoms</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cough</li>
                  <li class="list-group-item">Fever</li>
                  <li class="list-group-item">Tiredness</li>
                  <li class="list-group-item">Difficulty breathing </li>
                </ul>
                <div class="hr"></div>
                <div class="about-footer">
                  <a class="btn btn-danger" block="true" style="outline-color: white; float: right !important; margin-top: 1.5rem;"
                    [routerLink]="['/app-symptoms']" target="blank">Read more
                  </a>
                </div>
                <div class="hr"></div>
              </mdb-card-text>
              <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
            </mdb-card-body>
          </div>
        </div>

      </mdb-card>
    </div>
  </div>
</section>
