<main class="main-grid">
  <div class="center-wrapper">
              <div class="container">
            <div id="classifications-container">
              <div *ngIf="circulars" class="row" >
                  <div class="col-sm-12">
                    <div class="row" style="align-items: center;">
                      <h5 style="text-align: left; font-weight: bolder; flex-grow: 1;">{{id}}</h5>
                    </div>
                    <div class="row circular-container">
                        <ng-template ngFor let-doc [ngForOf]="circulars">
                          <div class="circular-wrapper">
                            <div class="circular-inner" (click)="download(doc.docid)">
                              <div class="circular">
                                <div style="text-align: center;">
                                  <i class="fa fa-file-pdf icon"></i>
                                </div>
                                <table>
                                  <tr>
                                    <td colspan="2" style="text-align: center;">
                                      <p>
                                      {{doc.title}}
                                      </p>
                                    </td>
                                  </tr>
                                  <tr style="font-size: small;">
                                    <td>Published:</td>
                                    <td>{{doc.pubdate}}</td>
                                  </tr>
                                  <tr style="font-size: small;">
                                    <td style="vertical-align: top;">Author:</td>
                                    <td>{{doc.author}}</td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                  </div>
              </div>
                <br>
              </div>
            </div>
            <!--row-->
        </div>

  </div>
</main>

    