<!-- <section class="about-us-section">
    <div class="img-container">
        <img src="../../../assets/Logos/hack2.png" alt="profile">
    </div>
    <div><a>

            A virtual hackathon kicked off on the 18th March 2020 in Namibia for a COVID 19 tech response. Teams are
            developing:
            1. An essential info app for Namibia
            2. Realtime data tracking
            3. Virtual Learning
            4. Self reporting
            5. AI solution for health monitoring
            6. Misinformation and sentiment analysis

            Virtual Hackathon for Namibia’s COVID-19 Tech Response has 75 local & international people across projects
            working around the clock with Min of Health/WHO/CDC.
        </a></div>

</section> -->
<section class="about-us-section">
<div id="link1">
    <mdb-card-body>
        <div class="img-container">
            <img src="../../../assets/Logos/hack2.png" alt="profile">
        </div>

        <div style="padding: 13px;">

            <mat-card-header>
                <mat-card-title><h5>virtual Hackathon</h5> </mat-card-title>
            </mat-card-header>
            <mat-card style="margin-top:10px;">
                <mat-card-content>
                    <p  style="font-size:20px">

                        A virtual hackathon kicked off on the 18th March 2020 in Namibia for a COVID 19 tech response.
                        <br>
                        Teams are developing the following Apps:
                        <ol>
                            <li>An essential info app for Namibia</li>
                            <li>Realtime data tracking</li>
                            <li>Virtual Learning</li>
                            <li>Self reporting</li>
                            <li>AI solution for health monitoring</li>
                            <li>Misinformation and sentiment analysis</li>
                        </ol>

                        Virtual Hackathon for Namibia’s COVID-19 Tech Response has 75 local & international people
                        across projects
                        working around the clock with Min of Health/WHO/CDC.
                    </p>
                </mat-card-content>

            </mat-card>
        </div>
    </mdb-card-body>
</div>
</section>
