<div id="link1">
    <mdb-card-body>
      <div class="img-container">
        <img src="../../../assets/img/symtom-small.png" alt="profile">
      </div>
      
  <div style="padding: 13px;">
    <mat-card-header>
        <mat-card-title>Symptoms</mat-card-title>
  
    </mat-card-header>
    <mat-spinner *ngIf="Symptoms.length === 0"></mat-spinner>
    <mat-card *ngFor="let symptoms of Symptoms" style="margin-top:10px;">
  
  
        <!-- <mat-card-header>
            <mat-card-title>What is Corona Virus</mat-card-title>
          
        </mat-card-header> -->
        <mat-card-content>
            <p style="font-size:20px">
                {{symptoms}}
            </p>
  
        </mat-card-content>
  
    </mat-card>
  </div>