footer {
  position: relative;
  bottom: 0;
  padding-top: 0.5rem;
}

.img-container {
  display: flex;
  flex-direction: row;
}

.img-container img {
  width: 35%;
  height: 25%;
  margin: 2rem 1rem 0 0;
}

@media only screen and (max-width: 500px) {
  .img-container {
    margin-left: 7rem ;
  }
  .img-container img {
    width: 60%;
    height: 30%;
  }
}
