<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <!-- Footer Links
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
  <!-- <div class="row mt-3">
  
        <!-- Grid column -->
  <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="img-container">
              <a href="https://www.nust.na/">
            <img src="../../../assets/Logos/nust1.png" alt="profile">
            </a> -->
  <!-- </div>  -->
  <!-- Content
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fugit, culpa possimus repellat itaque ullam
            natus maxime? Facilis, ex similique.
          </p> -->

  <!-- </div> -->
  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->
  <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"> -->



  <!-- Links -->
  <!-- <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Latest Discoveries</a>
          </p>
          <p>
            <a href="#!">Research/Publications</a>
          </p>
          <p>
            <a href="#!">Testing Centers</a>
          </p>
  
        </div> -->
  <!-- Grid column -->

  <!-- Grid column -->
  <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <div class="img-container2">
              <a href="http://www.mhss.gov.na/">
                <img src="../../../assets/Logos/min.jpg" alt="profile">
              </a>
              </div> -->

  <!-- Links
          <!-- <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> physical address
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> phone here
          </p> -->
  <!-- </div>  -->
  <!-- Grid column -->
  <!-- </div> -->
  <!-- Grid row -->
  <!-- </div> --> 
  <!-- Footer Links -->

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Entities</h6>

        <div class="img-container">
          <!-- <a href="https://www.nust.na/" class="img-container> -->
          <img src="../../../assets/Logos/nust1.png" alt="profile">
          <!-- </a> -->
          <!-- <a href="http://www.mhss.gov.na/" class="img-container> -->
          <img src="../../../assets/Logos/min.jpg" alt="profile">
          <img src="../../../assets/img/undp.png" alt="profile">
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">



        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Latest Discoveries</a>
        </p>
        <p>
          <a href="#!">Research/Publications</a>
        </p>
        <p>
          <a href="#!">Testing Centers</a>
        </p>
        <p>
          <a [routerLink]="['/app-about-us']">About Us</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">



        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon>13 Jackson Kaujeua Street, Windhoek, Namibia
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> <a href="http://fci.nust.na/">NUST - FCI</a>
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>TEL: +264-61-207-9111
        </p>
      </div>
      <!-- </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: WHO & MoHSS
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
