<div class="row">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <!--Title-->
          <h4 class="card-title">
            <strong>Alice Mayer</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>Photographer</strong>
          </h5>
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <!--Linkedin-->
          <a class="px-2 icons-sm li-ic">
            <mdb-icon fab icon="linkedin-in"> </mdb-icon>
          </a>
          <!--Twitter-->
          <a class="px-2 icons-sm tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!--Dribbble-->
          <a class="px-2 icons-sm fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" narrower="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h5 class="pink-text">
            <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
          <!--Title-->
          <h4 class="card-title">Cheat day inspirations</h4>
          <!--Text-->
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="card-title">
            <strong>Billy Cullen</strong>
          </h4>
          <h5>Web developer</h5>
  
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
  
          <!--Facebook-->
          <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" color="dribbble" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>

<app-navbar ></app-navbar>
