<div class="prgress">
  <mat-progress-bar mode="indeterminate" *ngIf="showprogress"></mat-progress-bar>
</div>
<section class="faqs-section">
  <div style="padding: 13px;">
    <h5>Frequently Asked Questions
      (FAQs)</h5>

    <form [formGroup]="searchForm" class="search-form">
        <input placeholder="Seach question here" class="fo==" [(ngModel)]="search" formControlName="searchInput">
    </form>

    <mat-accordion *ngFor="let faqs of Faqs | filter:search">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong > {{ faqs.question}}</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ faqs.answer}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
